h1{
color: rgb(185, 147, 51);
font-size:35px;
margin: 0px;
}

table {
  border-spacing: 12px;
}

th {
background-color: bisque;
color:black ;
border-radius: 5px;
padding: 10px;
}

td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    color: aliceblue;
  }

body{
align-content: center;
height: 100%;
width: 100%;

display: table-cell;
vertical-align: middle;

}  

html {
  display: table;
  margin: auto;
}


img {
  border-radius: 25%;
  height: 250px;
  width: 300px;
}

